<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link href="/static/styles/style.css" rel="stylesheet" th:href="@{/styles/style.css}">
    <title>User profile</title>
</head>
<body>
<div align="center" th:object="${userObj}">
    <h1>
        Hello
        <span th:utext="${userObj.getUsername()}" th:remove="tag"></span>
    </h1>
    <table>
        <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        <tr>
            <td th:utext="${userObj.getUsername()}"></td>
            <td th:utext="${userObj.getFirstName()}"></td>
            <td th:utext="${userObj.getLastName()}"></td>
            <td th:utext="${userObj.getEmail()}"></td>
            <td th:utext="${userObj.getAge()}"></td>
        </tr>
    </table>
    <h3><a th:href="@{/admin}" th:if="${userObj.isAdmin()}">User management</a></h3>
    <h3><a th:href="@{/logout}">Logout</a></h3>
</div>

</body>
</html>