table {
    width: 300px; /* Ширина таблицы */
    border: 1px solid black; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
    font-size: 14pt;
}

td {
    border: 1px solid black;
    text-align: center; /* Выравниваем текст по центру ячейки */
    padding: 3px;
}

th {
    border: 1px solid black;
    text-align: center; /* Выравниваем текст по центру ячейки */
    padding: 3px;
}

a {
    font-size: 14pt;
}
